:root {
    --text-color: 30, 30, 30;
    --border-color: 40, 40, 40;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5e6;
    color: rgb(var(--text-color));
    margin: 0;

}